NEXT_PUBLIC_SUPABASE_URL=https://jbhfdmujqrtqkhacfegl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpiaGZkbXVqcXJ0cWtoYWNmZWdsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzOTE0NjksImV4cCI6MjA5ODk2NzQ2OX0.yjGuawybNLSCCbviGJ7hXiNLyG6OZ7_RthdTuUulDX8
